<h2>List of Users</h2>

<kendo-grid [data]="gridData" [height]="410">
  <kendo-grid-column field="userID" title="ID" >
  </kendo-grid-column>
  <kendo-grid-column field="name" title="Name" >
  </kendo-grid-column>
  <kendo-grid-column field="surname" title="Surname" >
  </kendo-grid-column>
  <kendo-grid-column field="birthDate" title="Birthdate" >
  </kendo-grid-column>
  <kendo-grid-column field="phone" title="Phone" >
  </kendo-grid-column>
  <kendo-grid-column field="city" title="City" >
  </kendo-grid-column>
  <kendo-grid-column field="street" title="Street" >
  </kendo-grid-column>
  <kendo-grid-column field="number" title="Number" >
  </kendo-grid-column>
</kendo-grid>
