<h3>Trucks Collection Page </h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Volvo FH16</td>
      <td>For the most demanding operations, the Volvo FH16 is the most powerful truck of the range.</td>
      <td><img src="https://www.volvotrucks.co.uk/content/dam/volvo/volvo-trucks/masters/euro-6/trucks/1000x1000-volvo-trucks-buying-fh16-largegrid.jpg/jcr:content/renditions/1000x1000-volvo-trucks-buying-fh16-largegrid-largegrid.jpg" /></td>
    </tr>
    <tr>
      <td>Volvo FE</td>
      <td>Flexibility, driveability and first-class productivity in a compact regional distribution truck</td>
      <td><img src="https://www.volvotrucks.co.uk/content/dam/volvo/volvo-trucks/masters/euro-6/trucks/1000x1000-volvo-trucks-buying-FE.jpg/jcr:content/renditions/1000x1000-volvo-trucks-buying-FE-largegrid.jpg" /></td>
    </tr>
    <tr>
      <td>Volvo FMX</td>
      <td>The modern construction truck. Strong, robust and packed with groundbreaking features.</td>
      <td><img src="https://www.volvotrucks.co.uk/content/dam/volvo/volvo-trucks/masters/euro-6/trucks/1000x1000-volvo-trucks-buying-FMX.jpg/jcr:content/renditions/1000x1000-volvo-trucks-buying-FMX-largegrid.jpg" /></td>
    </tr>
  </tbody>
</table>
